@model IEnumerable<ERP_HOSPT.Data.Qualify>

@{
    ViewData["Title"] = "Index";
}
<div id="view-all">
    @await Html.PartialAsync("_ViewAllqualify", Model)
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}